<form (ngSubmit)="onSubmit()" #form>
  <app-control class="control" label="Title">
    <input
      type="text"
      name="title"
      id="title"
      #titleInput
      #input
      [(ngModel)]="enteredTitle"
    />
    <!-- title input is a template variable -->
  </app-control>

  <app-control class="control" label="Request" #input>
    <textarea
      type="text"
      id="request"
      name="request"
      rows="3"
      #requestInput
      [(ngModel)]="enteredRequest"
    ></textarea>
  </app-control>
  <p>
    <button appButton>
      Submit
      <span class="icon" ngProjectAs="icon">⫸</span>
    </button>
  </p>
</form>
